* {
    box-sizing: border-box;
    }

    body {
    font-family: Arial;
    padding: 10px;
    background: #88B04B;
    }

    /* Header/Blog Title */
    .header {
    padding: 30px;
    text-align: center;
    background:  RGB(239, 192, 80);
    }

    .header h1 {
    font-size: 50px;
    }

    /* Style the top navigation bar */
    .topnav {
    overflow: hidden;
    background-color:  #88B04B;
    }

    /* Style the topnav links */
    .topnav a {
    float: left;
    display: block;
    color:#34568B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
    background-color: #BC243C;
    color: RGB(136, 176, 75);
    }

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {   
    float: left;
    width: 25%;
    }

    /* Right column */
    .rightcolumn {
    float: left;
    width: 75%;
    background-color: RGB(239, 192, 80);
    padding-left: 20px;
    }

   

    /* Add a card effect for articles */
    .card {
    background-color:  #88B04B;
    padding: 20px;
    margin-top: 20px;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    /* Footer */
    .footer {
    padding: 20px;
    text-align: center;
    background: RGB(239, 192, 80);
    margin-top: 20px;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
    }

    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
    }